<article class="event">
  <div class="details">
    <h3>{{@event.summary}} </h3>
    <div class="detail">
      <span>Start Time:</span> {{@event.start.dateTime}}
    </div>
    <div class="detail">
      <span>End Time:</span> {{@event.end.dateTime}}
    </div>
    <div class="detail location">
      <span>Location:</span>
        <!-- how do I make this only happen if location starts with https? -->-
        <a href="{{@event.location}}">{{@event.location}}</a>
    </div>
    <div class="detail">
      <span>Creator:</span> {{@event.creator.displayName}} / {{@event.creator.email}}
    </div>
    <div class="detail">
      <span>Description:</span> {{@event.description}}
    </div>
  </div>
</article>