<article class="event">
  <div class="details">
    <h3>{{@event.summary}}</h3>
    <div class="detail location">
      <span>Location:</span> {{@event.location}}
    </div>
    <div class="detail">
      <span>Start Date/Time:</span> {{@event.start.dateTime}}
    </div>
    <div class="detail">
      <span>End Date/Time:</span> {{@event.end.dateTime}}
    </div>
    <div class="detail">
      <span>Creator:</span> {{@event.creator.displayName}} / {{@event.creator.email}}
    </div>
    <div class="detail">
      <span>Description:</span> {{@event.description}}
    </div>
  </div>
</article>