<article class="event">
  <div class="details">
    <h3>{{@event.summary}} </h3>
    <div class="detail">
      <span>Start Time:</span> {{formatDate @event.startDatetime @event.startTimezone}}
    </div>
    <div class="detail">
      <span>End Time:</span> {{formatDate @event.endDatetime @event.endTimezone}}
    </div>
    <div class="detail">
      <span>Type:</span> {{this.formatRecurrence @event.recurrence}}
    </div>
    <div class="detail">
      <span>Location:</span> {{this.formatLocation @event.location}}
    </div>
    <div class="detail">
      <span>Creator:</span> {{@event.creatorName}} / {{@event.creatorEmail}}
    </div>
    <div class="detail">
      <span>Description:</span> {{this.formatDescription @event.description}}
    </div>
  </div>
</article>